a:focus {
	color: #2c43a1;
}
.spliter {
	background: #2c43a1;
}
.yellow-btn {
	background: #2c43a1;
}
.invert-btn {
	border: 1px solid #2c43a1 !important;
}
.c-btn:hover,
.mask .c-btn:hover {
	color: #2c43a1;
}
/* ---------------------------------- INNER PAGE SECTION -------------------------------- */
.page-content-wrapper .blog-post-holder a.readmore {
	background: #2c43a1 none repeat scroll 0 0;
}
.page-content-wrapper a.with-arrow-btn {
	background: #2c43a1;
}
.page-content-wrapper a.with-arrow-btn:hover {
	color: #2c43a1;
}
.with-arrow-btn:hover span i {
	color: #2c43a1;
}
.small-services:hover .gray-background {
	border: 5px solid #2c43a1;
}
.small-services:hover i {
	color: #2c43a1;
}
.page-content .contact-holder, .page-content .contact-holder span, .page-content .contact-holder .detail-holder i {
	color: #2c43a1;
}
.page-content .contact-holder .left-detail .spliter {
	background: #2c43a1;
}
.page-content .contact-holder input[type=submit]:hover {
	background: #2c43a1;
	border: 1px solid #2c43a1;
}
.page-content .contact-page-ops span.spliter {
	background: #2c43a1;
}
.services-list li a:hover, .services-list li.active a {
	color: #2c43a1 !important;
}
.testi-author-meta img {
	border: 2px solid #2c43a1;
}
/* ---------------------------------- PAGINATION -------------------------------- */
.pagination ul li a {
	background: #2c43a1;
}
/* ---------------------------------- PRELOADER -------------------------------- */
.loader-line-wrap:nth-child(1) .loader-line {
	border-color: #2c43a1;
}
.loader-line-wrap:nth-child(3) .loader-line {
	border-color: #2c43a1;
}
.loader-line-wrap:nth-child(5) .loader-line {
	border-color: #2c43a1;
}
/* ---------------------------------- TOP BAR ---------------------------------- */
.top-bar {
	background: #2c43a1;
}
/* ---------------------------------- HEADER ---------------------------------- */
.slider-wrapper header.sticky {
	border-bottom: 4px solid #2c43a1;
}
.slider-wrapper header nav.main-nav > ul > li:hover > a,
.slider-wrapper header nav.main-nav ul li ul li a:hover,
.slider-wrapper header nav.main-nav > ul > li.active > a {
	background: #2c43a1;
}
.slider-wrapper header.sticky .right-menu .cd-primary-nav-trigger .cd-menu-icon,  .slider-wrapper header.sticky .right-menu .cd-primary-nav-trigger .cd-menu-icon::before,  .slider-wrapper header.sticky .right-menu .cd-primary-nav-trigger .cd-menu-icon:after {
	background-color: #2c43a1;
}
.slider-wrapper .rider-slider a {
	background: #2c43a1;
}
/* ---------------------------------- ABOUT US SECTION ---------------------------------- */
.section-wrapper .heding-wrapper span, .section-wrapper .container .heding-wrapper span {
	color: #2c43a1;
}
.box-link a:hover .icon-center span {
	color: #2c43a1;
}
.box-link a:hover .icon-center h3 {
	color: #2c43a1;
}
.box-link a:hover .icon-center {
	border-color: #2c43a1;
}
.section-wrapper .heding-wrapper a:hover {
	color: #2c43a1;
}
.responsive-banner {
	background: #2c43a1;
}
.about-box span i {
	color: #2c43a1;
}
/* ---------------------------------- FEATURES SECTION -------------------------------- */
.box-link a:hover .feature-icon {
	color: #2c43a1;
}
.box-link a:hover .feature-text h3 {
	color: #2c43a1;
}
/* ---------------------------------- EXPERENCES SECTION -------------------------------- */
.yellow-background {
	background: #2c43a1;
}
.more-about a {
	border: 1px solid #2c43a1;
}
.more-about a:hover {
	color: #2c43a1 !important;
}
/* ---------------------------------- SKILLS ---------------------------------- */
.wahtwedo-tabs-bg {
	background: #2c43a1;
}
/* ---------------------------------- SERVICES SECTION ---------------------------------- */
#services .info {
	background-color: rgba(229, 56, 56, 0.93);
}
/* ---------------------------------- PORTFOLIO SECTION ---------------------------------- */
.portfolio-wrapper ul li.active a {
	color: #2c43a1;
}
.portfolio-wrapper #portfolio-list .portfolio-holder a.fancybox, .portfolio-wrapper #portfolio-list .portfolio-holder a.fancybox:hover {
	background: #2c43a1;
}
/* ---------------------------------- TEAM SECTION ---------------------------------- */
.team-holder a i {
	color: #2c43a1;
}
.team-holder:hover .spliter {
	width: 70px;
	background: #2c43a1;
}
.team-box a i:hover {
	color: #2c43a1;
}
/* ---------------------------------- TESTMONIALS SECTION ---------------------------------- */
.testimonial-wrapper h2 {
	color: #2c43a1;
}
/* ---------------------------------- PRICE SECTION ---------------------------------- */
.big-wrapper:hover a {
	background: #2c43a1;
	border: 1px solid #2c43a1;
}
/* ---------------------------------- BLOG SECTION ---------------------------------- */
.blog-content .img-holder .author span {
	background: #2c43a1;
}
.blog-content h4 a {
	color: #2c43a1;
}
/* ---------------------------------- CONTACT SECTION ---------------------------------- */
.contact-holder input[type=submit]:hover {
	background: #2c43a1;
	border: 2px solid #2c43a1;
}
/* ---------------------------------- FOOTER SECTION ---------------------------------- */
footer a:hover {
	color: #2c43a1;
}
footer .footer-left ul li a:hover {
	background: #2c43a1;
}
.botton-bar a:hover {
	color: #2c43a1;
}
/* ---------------------------------- SCROLL TO TOP ---------------------------------- */
.scrollToTop {
	border: 5px solid #2c43a1;
}
.scrollToTop:hover {
	background: #2c43a1;
}
/*********************************** tabber *****************************************/
.border-left {
	border-left: 1px solid #2c43a1;
}
/* ===== about us page styling here ======== */
.abou-skills {
	background: #2c43a1;
}
/* ======= blog page start here ========= */
.page-content-wrapper .blog-post-holder .meta-item a:hover {
	color: #2c43a1;
}
.page-content-wrapper .blog-post-holder h1 a:hover {
	color: #2c43a1;
}
/* ========  index main page for selection temlate section =========== */
.indx-h2 a:hover {
	color: #2c43a1;
}
/*------- Just Navigation ----------- */
@media (min-width:320px) and (max-width:1024px) {
.cd-primary-nav a:hover,
.cd-primary-nav .active a {
	background: #2c43a1;
}
}
/* ===== PLAGINS COLORS ===== */
.view-fourth .mask {
	background-color: #2c43a1 !important;
}

.ms-skin-black-2 .ms-nav-next,
.ms-skin-black-2 .ms-nav-prev {
	background-color: #2c43a1 !important;
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
    background-color: #2c43a1;
}
